@keyframes rainbow {
    0% { color: rgb(255, 0, 0); } /* Red */
    16% { color: rgb(255, 255, 0); } /* Yellow */
    33% { color: rgb(0, 255, 0); } /* Green */
    50% { color: rgb(0, 255, 255); } /* Cyan */
    66% { color: rgb(0, 0, 255); } /* Blue */
    83% { color: rgb(255, 0, 255); } /* Magenta */
    100% { color: rgb(255, 0, 0); } /* Red */
}

h1 {
    font-size: 36px;
    animation: rainbow 3s infinite !important;
}

/* Dark mode styles with a touch of blue */
body {
    background-color: #1f1f2e; /* Slightly lighter dark background color */
    color: #ffffff; /* Light text color */
    font-family: Arial, sans-serif; /* Use a common sans-serif font */
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

li {
    padding: 15px;
    border-bottom: 1px solid #2c2c3e; /* Darker border between list items */
    border-radius: 8px; /* Add some rounding to the list items */
}

/* Hover effect for list items */
li:hover {
    background-color: #28283a; /* Darker background color on hover */
}

/* Dark mode styles for login page */
input[type="text"], input[type="password"] {
    background-color: #3d3d4d; /* Darker background color for text boxes */
    color: #ffffff; /* Light text color */
    border: 1px solid #2c2c3e; /* Darker border */
    border-radius: 10px; /* Add some rounding to the text boxes */
    padding: 10px; /* Add padding for better spacing */
    margin: 5px;
    width: 15%; /* Make the text boxes take up full width */
    box-sizing: border-box; /* Include padding and border in width */
}

/* Style for the submit button */
button[type="submit"] {
    background-color: #3366cc; /* Adjust the color as needed */
    color: white; /* Text color */
    padding: 10px 15px; /* Padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    margin: 5px
}

/* Style for the submit button on hover */
button[type="submit"]:hover {
    background-color: #254785; /* Darker shade on hover */
}

.class-link {
    color: inherit; /* Use the default text color */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Show pointer cursor on hover */
}
