<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">

<title>Login</title>
<script>
    function submitForm() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        // Execute main.py file with username and password as parameters
        window.location.href = "main.py?username=" + username + "&password=" + password;
    }
</script>
</head>
<body>
    <h1>Login</h1>
    <form action="/submit" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Submit</button>
</form>
</body>
</html>
