<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Dashboard</title>
</head>
<body>
    <h1>{{user.username}}'s Classes</h1>
    <ul>
        {% for i in range(class_count) %}
            <li><a href="{{ url_for('class_page', class_id=i) }}">{{ user.classes[i] }}</a> - {{ user.teachers[i] }}</li>
        {% endfor %}
    </ul>
</body>
</html>